
.c-fa-microsoftpowerpoint:before { content: '\e800'; } /* '' */
.c-fa-microsoftexcel:before { content: '\e801'; } /* '' */
.c-fa-android:before { content: '\e802'; } /* '' */
.c-fa-mongodb:before { content: '\e803'; } /* '' */
.c-fa-webpack:before { content: '\e804'; } /* '' */
.c-fa-jquery:before { content: '\e805'; } /* '' */
.c-fa-dot-net:before { content: '\e806'; } /* '' */
.c-fa-powershell:before { content: '\e807'; } /* '' */
.c-fa-heroku:before { content: '\e808'; } /* '' */
.c-fa-microsoftword:before { content: '\e809'; } /* '' */
.c-fa-django:before { content: '\e80a'; } /* '' */
.c-fa-git:before { content: '\e80b'; } /* '' */
.c-fa-visualstudiocode:before { content: '\e80c'; } /* '' */
.c-fa-oracle:before { content: '\e80d'; } /* '' */
.c-fa-circleci:before { content: '\e80e'; } /* '' */
.c-fa-xcode:before { content: '\e80f'; } /* '' */
.c-fa-materialdesign:before { content: '\e810'; } /* '' */
.c-fa-redux:before { content: '\e811'; } /* '' */
.c-fa-react:before { content: '\e812'; } /* '' */
.c-fa-flutter:before { content: '\e813'; } /* '' */
.c-fa-swift:before { content: '\e814'; } /* '' */
.c-fa-typescript:before { content: '\e815'; } /* '' */
.c-fa-mysql:before { content: '\e816'; } /* '' */
.c-fa-microsoftazure:before { content: '\e817'; } /* '' */
.c-fa-firebase:before { content: '\e818'; } /* '' */
.c-fa-angular:before { content: '\e819'; } /* '' */