/* tag style */

body {
  font-family: "Lato";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  color: #0d1d2a;
}

p {
  color: #173f5b;
  font-size: 1rem;
  line-height: 2;
}

.card {
  padding: 5%;
  font-size: 1rem;
  line-height: 2;
}

.section-hr {
  border: dotted #cad4d0;
  border-bottom: none;
  margin: 50px auto;
  size: 15px;
  width: 5%;
}

.container-fluid {
  padding: 5% 8%;
}

/* navigation section */
.nav-wrapper {
  text-align: left;
}

nav .brand-logo {
  color: #0d1d2a;
  font-family: "Playfair Display";
  margin-left: 10px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #0d1d2a;
  font-size: 1.2rem;
}

/* main section */

.main-text {
  margin: 20% 0;
}

.background-image {
  width: 80%;
  right: 30%;
  margin: 20% 0;
}

/* about section */

.avatar-image {
  height: 240px;
  width: 240px;
  left: 30%;
  margin: 10% 0;
}

.about-text {
  right: 30%;
  font-size: 1.2rem;
  margin: 10% 0;
  text-align: left;
}

/* project section */

/* skills */

.skill-item {
  display: inline;
  margin: 1% 1%;
  color: #173f5b;
  font-size: 1.2rem;
}

.skill-hr {
  border: dotted #cad4d0;
  border-bottom: none;
  margin: 20px auto;
  size: 15px;
  width: 5%;
}

/* footer section */

.contact-icon {
  color: #cad4d0;
  font-size: 1.2rem;
  margin: 0 2%;
}

.copyright {
  color: #cad4d0;
}
