/* tag style */

body {
  font-family: "Lato";
}

p {
  color: #173f5b;
  font-size: 1rem;
  line-height: 2;
}

hr {
  border: dotted #cad4d0;
  border-bottom: none;
  margin: 100px auto;
  size: 15px;
  width: 5%;
}

/* navigation section */

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #0d1d2a;
  font-size: 1.2rem;
}

#logo {
  color: #0d1d2a;
  font-family: "Playfair Display";
  margin-left: 10px;
}

/* main section */

.main-text {
}

.background-image {
  width: 40%;
  right: 30%;
}

/* about section */

.contact-icon {
  color: #cad4d0;
  font-size: 2rem;
}

.about-avatar {
  float: left;
  margin: 0 30px 30px 0;
}

/* project section */

.card {
  height: 274;
  margin: 8px;
  width: 210px;
}

/* skills */

.skill-item {
  margin: 8px auto;
  padding: 8px;
}

/* footer section */

.copyright {
  color: #cad4d0;
}
