/* tag style */

body {
  font-family: "Lato";
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  color: #0d1d2a;
}

p {
  color: #173f5b;
  font-size: 1rem;
  line-height: 2;
}

.card {
  padding: 5%;
  font-size: 1rem;
  line-height: 2;
}

.section-hr {
  border: dotted #cad4d0;
  border-bottom: none;
  margin: 50px auto;
  size: 15px;
  width: 5%;
}

.container-fluid {
  padding: 5% 8%;
}

/* navigation section */
.nav-wrapper {
  text-align: left;
}

nav .brand-logo {
  color: #0d1d2a;
  font-family: "Playfair Display";
  margin-left: 10px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #0d1d2a;
  font-size: 1.2rem;
}

/* main section */

.main-image {
  max-width: 80%;
  margin: 0 auto;
}

.background-image {
  width: 100%;
}

.main-text {
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 120%;
}

/* about section */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.avatar-image {
  max-width: 60%;
}

@media (min-width: 993px) {
  .main-container {
    position: relative;
    width: 100%;
    height: 500px;
  }

  .main-image {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .background-image {
    width: 100%;
  }

  .main-content {
    position: absolute;
    top: 50%;
    width: 70%;
  }

  .main-content h2 {
    margin: 0;
  }

  .main-text {
    margin: 20% 0;
    letter-spacing: 2px;
    line-height: 120%;
  }

  /* about section */
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .avatar-image {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1024) {
  .avatar-image {
    width: 30%;
  }
}

.about-text {
  right: 30%;
  font-size: 1.2rem;
  margin: 10% 0;
  text-align: left;
}

/* project section */

/* skills */

.skill-item {
  display: inline;
  margin: 1% 1%;
  color: #173f5b;
  font-size: 1.2rem;
}

.skill-hr {
  border: dotted #cad4d0;
  border-bottom: none;
  margin: 20px auto;
  size: 15px;
  width: 5%;
}

/* footer section */

.contact-icon {
  color: #cad4d0;
  font-size: 1.2rem;
  margin: 0 2%;
}

.copyright {
  color: #cad4d0;
}
